{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">

{% load static %}
{% block content %}
<h2>Daftar kelas-kelas:</h2>
<table>
    <tr>
        <th>Nama Kelas</th>
        <th>Nama Dosen</th>
        <th>Berapa SKS</th>
        <th>Deskripsi</th>
        <th>Semester</th>
        <th>Ruangan</th>
        <th>Delete</th>
    </tr>
    {% for i in matakuliah %}
    <tr>
    <td>{{ i.nama_mata_kuliah }}</td>
    <td>{{ i.dosen_mata_kuliah }}</td>
    <td>{{ i.sks_mata_kuliah}}</td>
    <td>{{ i.deskripsi_mata_kuliah }}</td>
    <td>{{ i.semester_mata_kuliah }}</td>
    <td>{{ i.ruang_mata_kuliah }}</td>
    <td><a href="{% url 'story1:deletecourse' i.id %}">Delete</a></td>
    {% csrf_token %}
    </tr>
    {% endfor %}
</table>


{% endblock %}
