{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">

{% load static %}
{% block content %}

<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
  <input type="submit" value="Submit">
</form> 


{% endblock %}
      