{% extends "base.html" %}
<!doctype html>
<html lang="en">

{% load static %}
 
  <head>
    <title>Story 3</title>
  </head>
  <body>
   {% block content %} 

    <div class="homepage" id="home">
        <div class="row justify-content-center">
            <div class="homepage-caption">
                <b>Hello, <br>
                I am <span class="name">Haidar Labib</span></b><br><br>
                Computer Science Student
            </div>
        </div>
    </div>

    <div class="aboutme-page" id="aboutme">
            <div class="image">
                <img src="{% static 'img/fotoprofile.jpg'%}" class= "img-fluid" alt="error">
            </div>
            <div class="aboutme-caption">
                <p><b>Hello!</b></p>
                    <p style= "font-size:70%">My name is Haidar Labib Bangsawijaya or labib in short.<br>
                    I’m currently a second year student at University of <br>
                    Indonesia studying computer science. I enjoy playing video<br>
                    games, sleeping, and reading manga.</p>
            </div>
        </div>

    <div class="resume-page" id="resume">
        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <h2 style="color: blue;"><b>Education</b></h2>
                <div class="media">
                    <img src="{% static 'img/unnamed.png'%}" class="mr-3" width="64" height="64" alt="vector">
                    <div class="media-body">
                        <h5 class="mt-0" style="color: blue;">2007 - 2013</h5>
                        <h3>SD-Islam Al-Azhar 9</h3>
                    </div>
                </div>
                <div class="media">
                    <img src="{% static 'img/unnamed.png'%}" class="mr-3" width="64" height="64" alt="vector">
                    <div class="media-body">
                        <h5 class="mt-0" style="color: blue;">2013 - 2016</h5>
                        <h3>SMP Islam Al-Azhar 8</h3>
                    </div>
                </div>
                <div class="media">
                    <img src="{% static 'img/unnamed.png'%}" class="mr-3" width="64" height="64" alt="vector">
                    <div class="media-body">
                        <h5 class="mt-0" style="color: blue;">2016 - 2019</h5>
                        <h3>SMA Islam Al-Azhar 4</h3>
                    </div>
                </div>
                <div class="media">
                    <img src="{% static 'img/unnamed.png'%}" class="mr-3" width="64" height="64" alt="vector">
                    <div class="media-body">
                        <h5 class="mt-0" style="color: blue;">2019 - present</h5>
                        <h3>University of Indonesia</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col"> </div>
            <div class="col">
                <h2 style="color: blue;"><b>Personal Experience</b></h2>
                <div class="media">
                    <img src="{% static 'img/briefcase.png'%}" class="mr-3" width="100" height="64" alt="vector">
                    <div class="media-body">
                        <h3>Coordinator Security at Social Project</h3>
                    </div>
                </div>
                <div class="media">
                    <img src="{% static 'img/briefcase.png'%}" class="mr-3" width="100" height="64" alt="vector">
                    <div class="media-body">
                        <h3>Media and Partner staff at COMPFEST</h3>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="project-page" id="project">
        <div class="project-caption">
            Coming soon~
        </div>
    </div>

    <div class="contact-page" id="contact">
        <div class="row">
            <div class="col">
                <div class="media">
                    <img src="{% static 'img/instagram.png'%}" class="mr-2" width="120" height="64" alt="vector">
                    <div class="media-body">
                        <h5 class="mt-3">haidarlabib27</h5>
                </div>
            </div>
            <div class="media">
                <img src="{% static 'img/line.png'%}" class="mr-3" width="100" height="100" alt="vector">
                <div class="media-body">
                    <h5 class="mt-4">haidarlabib12</h5>
            </div>
        </div>
        <div class="media">
            <img src="{% static 'img/phone.png'%}" class="mr-3" width="100" height="43" alt="vector">
            <div class="media-body">
                <h5 class="mt-3">+628561348795</h5>
            </div>
        </div>
        <div class="media">
            <img src="{% static 'img/address.png'%}" class="mr-3" width="100" height="100" alt="vector">
            <div class="media-body">
                <h5 class="mt-4">Jl Pulo Sirih Barat 10, no. FE 506</h5>
            </div>
        </div>
            </div>
            <div class="col">
                <form>
                    <div class="form-group">
                        <input type="name" class="form-control" id="exampleInputName" placeholder="Name" >
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputPassword" placeholder="Email">
                      </div>
                      <div class="form-group">
                          <input type="message" class="form-control" id="exampleInputMessage" placeholder="Message">
                      </div>
                      <button type="send" class="btn btn-primary">Send</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
    
  </body>
</html>