{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Haidar Labib</title>
</head>
{% block content %} 
<body>
    <div class="story1">
    <h1>Hello, Welcome to my very scuffed website!</h1>
    <img src="{% static 'img/foto1.jpg'%}" alt="my test" class ="box-img" width="250">
    <h2>About Me:</h2>
    <p>My name is Haidar Labib Bangsawijaya or u can call me labib in short.<br> 
        I'm currently a second year student at University of Indonesia studying computer science.<br>
        I enjoy playing video games, sleeping, and reading manga.
        
    </p>


    <h2>More Facts About Me:</h2>
    <ul>
        <li>NPM     : 1906400135</li>
        <li>Angkatan: Maung 2019</li> 
    </ul>

    <h2>Education History: </h2>
    <ul>
        <li>SMA Islam Al-Azhar 4</li>
        <li>SMP Islam Al-Azhar 8</li>
        <li>SD Islam Al-Azhar 9</li>
    </ul>

    <h2>You Can Check Me On: </h2>
    <a href="https://www.instagram.com/haidarlabib27/">
    <span><img src="{% static 'img/ig.png.png'%}" width="50"></span></a>
</div>
    {% endblock %}

</body>
</html> 
