html{
    scroll-behavior: smooth;
}


body{
    height: 100%;
    background-color: white;
}

.homepage{
    height: 100vh;
    width: 100vw;
}

.name{
    color: blue;
}

.homepage-caption{
    margin-top: 15%;
    height: 100vh;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.aboutme-page{
    height: 100vh;
    width: 100vw;
}


.aboutme-caption{
    margin-top: -10%;
    margin-left: 28%;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    color: black;
}

.image{
    margin-left: 5%;
    margin-top: 10%;
    height: 20%;
    width: 20%;
}

.resume-page{
    height: 100vh;
    width: 100vw;
}

.contact-page{
    height: 100vh;
    width: 100vw;
}

.nav-item{
    font-size: larger;
}

.project-page{
    height: 100vh;
    width: 100vw;
}

.project-caption{
    margin-top: 15%;
    height: 100vh;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    color: black;

}

.home-btn{
    float: left;
    font-size: larger;
    margin-left: 0%;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.about-btn{
    float: left;
    font-size: larger;
    margin-left: 50%;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.resume-btn{
    float: left;
    font-size: larger;
    margin-left: 50%;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.contact-btn{
    float: left;
    font-size: larger;
    margin-left: 50%;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.project-btn{
    float: left;
    font-size: larger;
    margin-left: 50%;
    font-family: 'Roboto', sans-serif;
    color: black;
}