<!DOCTYPE html>
<html>
{% load static %}

{% if user and user.is_authenticated %}
<span id="hello-msg">Hello, {{request.user}}</span>
<span><a id="Button" href="{% url 'story9:logout' %}">logout</a></span>
{% else %}
<p>Please login first</p>
<span><a id="Button" href="{% url 'story9:login' %}">login</a></span>
{% endif %}
</html>