h1 {
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: black;
    margin-top: 100px;
}

h2{
    text-align: left;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: black;
}

p{
    font-family: "Comic Sans MS", cursive, sans-serif;
}

ul{
    font-family: "Comic Sans MS", cursive, sans-serif;
}
